.Phase {
    display: inline;
    border-style: solid;
    border-width: 2px 1px;
    padding: 5px;
}

.CurrentPhase {
    background: linear-gradient(#0f509b, #b9c2e7);
}

.PreviousPhase {
    background: linear-gradient(#077e03, #bbd1bd);
}

